*, *:before, *:after {
	box-sizing: border-box;
}
body {
    font-family: 'El Messiri', sans-serif;
    background-color: #F4F9E2;
}
.header {
    padding: 20px;
    display: grid;
    grid-template-areas: "header-logo header-nav header-contacts" 
                         "header-text header-img .";
    grid-template-columns: 1fr 5fr 2fr;
}
.header-text {
    grid-column: 1/3;
    grid-row: 2/5;
}
.header-contacts  {
    justify-self: center;
}
.header-nav {
    justify-self: center;
}

.header-nav .header-nav__link:hover {
    color: red;
}
.header-nav .header-nav__link {
    text-decoration: none;
    color: #22356F;
    padding: 20px;
}


.header-contacts .header-contacts__btn {
    background-color: #62D0DF;
    border: none;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 30px;
}
.header-contacts .header-contacts__btn a {
    text-decoration: none;
    color: white;
    font-family: 'El Messiri', sans-serif;
}
.header-text .header-btn button {
    background-color: #F9B640 ;
    border: none;
    padding: 10px;
    text-align: center;
    display: inline-block;
}
.header-btn__btn a {
    text-decoration: none;
    color: white;
    font-family: 'El Messiri', sans-serif;
}
.header-img img{
    width: 500px;
    animation: animate 0.8s linear infinite;

}

@keyframes animate {
    0% {transform: scale(1.1)}
    50% {transform: scale(0.9, 0.9)}
    100% {transform: scale(1.1)}
     
}

.header-text h1 {
    text-transform: uppercase;
}

.section-info {
    padding: 20px;
    display: grid;
    grid-template-areas: "section-text section-img"
}
.section-img {
    justify-self: center;
}
.section-info .section-img img {
    width: 400px;    
} 
.section-info .section-text {
    background-color: #62D0DF;
}
.section-info .section-text h1 {
    color: #FFF;
    margin-top: 100px;
    text-align: center;

}
.blink {
  transform: translate(-50%, -50%);

}
.span {

  animation: blink 1s infinite;
  color: red;

}
@keyframes blink {
  0% {opacity: 0;}
  50% {opacity: .5;}
  100% {opacity: 1;}
}


.nav-about {
    padding: 20px;
    display: grid;
    grid-template-areas: "about-text" "about-blocks";
    background-color: white;
}
.about-blocks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 200px;
}
.about-text .about-text__info p {
    padding: 50px;
    color: 22356F;
    font-size: 24px;
    text-align: center;

}
.about-blocks .about-blocks__txt1 {
    background-color: #FFE2DE;
}
.about-blocks .about-blocks__txt2 {
    background-color: #C4E769;
}
.about-blocks .about-blocks__txt3 {
    background-color: #62D0DF;
}
.about-blocks .about-blocks__txt4 {
    background-color: #0052C1;
}
.about-blocks h1 {
    padding: 50px;
}
.nav-courses {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px;
    grid-gap: 10px;
}
.nav-courses img {
    width: 350px;
    margin-left: 30px;
}
.nav-courses__title {
    text-align: center;
}
.nav-courses .item {
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    transition: 2s;
} 
.item img {
    border-radius: 5px;
}
.item img:hover {
    transform: scale(1.3);
    z-index: 2;
}